#section-lista-Corrida {
    width: 1000px;
    min-height: 550px;
    margin: 20px auto;
    padding: 25px;
    color: var(--texto);
    font-size: 20px;
}
  
.corrida-item {
    width: 100%;
    min-height: 35px;
    padding: 10px 15px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.corrida-item:hover {
    background-color: var(--amarelo);
}
  
.span-dados-corrida {
    width: 90%;
    height: 100%;
}
  
.span-lnk-corridas {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.lnk-corrida {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.corrida-item:hover {
    background-color: var(--amarelo);
}
  
.span-dados-corrida {
    width: 90%;
    height: 100%;
}
  
.span-lnk-corridas {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.lnk-corrida {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
  
.lnk-alterar {
    color: var(--botao01);
}
  
.lnk-excluir {
    color: var(--botao03);
}
