*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--fundo);
}

:root {
    --verde: #16A34A;
    --verde-claro: #4ADE80;
    --azul: #0284C7;
    --laranja: #F97316;
    --amarelo: #FACC15;
    --texto: #172033;
    --fundo: #F8FAFC;
    --cinza: #E2E8F0;
    --botao01: #0EA5E9;
    --botao02: #F97316;
    --botao03: #ff0000cc;
    --branca: #ffffff;
}